body {
  font-family: Helvetica;
}

h1 {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg');
  color: khaki;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 32px;
  color: white;
  font-weight: bold;
}

.brushes_title {
  background-color: mediumspringgreen;
}

.frames_title {
  background-color: lightcoral;
}

.paint_title {
  background-color: skyblue;
}

.price_info {
  font-weight: bold;
  color: blue;
}
